* {
  font-family: lato, sans-serif;
  text-align: center;
  color: #343434;
}

body {
  padding-top: 50px;
}

h2 {
  margin-bottom: 20px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.container .navbar-header .navbar-brand {
    margin-left: 0;
}

body > nav {
    border: none !important;
}

.navbar-header, .nav, .navbar {
    background-color: #a3f3c9;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.nav {
    padding-right: 15px;
}

/*.jumbotron h1 {
   color: #a3f3c9;
   -webkit-text-fill-color: #a3f3c9;  Will override color (regardless of order)
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}*/

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron h1, h2 {
     color: #343434;
/*     text-shadow:
         2px 2px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;*/
}

.jumbotron .lead {
  font-size: 24px;
  font-weight: 300;
}

#unicorn {
    height: 200px;
    width: 200px;
}

#subscribe_label {
    display: block;
}

.email {
    text-align:center;
    margin-bottom: 5px;
}

.strike {
    position: relative;
    display: inline-block;
    font-size: 21px;
}
.strike::before {
    content: '';
    border-bottom: 2px solid red;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.btn {
    background-color: #a3f3c9;
    padding: 8px 12px 6px;
}

section {
  padding: 100px 0px 100px 0px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

#contact {
  padding: 20px 0px 20px 0px;
}

section#one, section#pricing {
  background-color: white;
}

section#two {
  color: white;
  background-color: #EEE;
}

section#three {
  background-color: #EEE;
}

#historical {
  max-width: 80%;
}

.img-responsive {
    margin: 0 auto;
}

.list-group-item {
    display: list-item;
}

#email_input, #subscribe_label, #unicorn, #mc-embedded-subscribe, #footer {
  margin-bottom: 10px;
}

@media(max-width:768px){
  .list-group {
    margin: 0px 5% 20px 10%;
  }
  section div.lead{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(min-width:768px){
  .list-group {
    margin: 0px 25% 20px 25%;
  }
  section p{
    padding-left: 40px;
    padding-right: 40px;
  }
  h2 {
    font-size: 48px;
  }
}

.glyphicon {
  font-size: 36px;
}