/** {
  font-family: lato, sans-serif;
}

body {
  padding-top: 50px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.container .navbar-header .navbar-brand {
    margin-left: 0;
}

.nav {
    padding-right: 15px;
}

#unicorn {
    height: 200px;
    width: 200px;
    padding-bottom: 5px;
}

#mc_embed_signup {
    text-align: center;
}

#subscribe_label {
    display: block;
}

.email {
    text-align:center;
    margin-bottom: 5px;
}*/

#chart-wrapper {
    width: 60%;
    clear: both;
    margin: 0 auto;
}

#thermo-wrapper {
    padding-top: 5%;
}

#good-text {
    background-color: lightgreen;
    height: 150px;
    padding-top: 70px;
    width: 30%;
    display: inline-block;
}

#bad-text {
    background-color: lightyellow;
    height: 150px;
    padding-top: 70px;
    width: 30%;
    display: inline-block;
}

#historicalChart svg {
    height: 100%;
    width: 105%;
    padding: 10px;
    background-color: white;
}

/*#content {
    margin: 0 auto;
    text-align: center
}*/

#tools_row {
    margin: 0 auto;
    text-align: center
}

#good_bad_cropped {
    vertical-align: top;
}

#thermo_progress {
    margin-bottom: 0 !important;
}

.thermometer {
    display: inline-block;
    margin: 0 1%;
}
.thermometer {
    width:70px;
    height:300px;
    position: relative;
    background: #ddd;
    border:1px solid #aaa;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
        -ms-border-radius: 12px;
         -o-border-radius: 12px;
            border-radius: 12px;

    -webkit-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
       -moz-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
        -ms-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
         -o-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
            box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
}

.thermometer .track {
    height:280px;
    top:10px;
    width:20px;
    border: 1px solid #aaa;
    position: relative;
    margin:0 auto;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,0,0)), color-stop(1%,rgb(255,255,255)));
    background: -webkit-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:      -o-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:     -ms-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:    -moz-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:   linear-gradient(to bottom, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background-position: 0 -1px;
    background-size: 100% 5%;
}

.thermometer .progress {
    height:0%;
    width:100%;
    background: rgb(20,100,20);
    background: rgba(20,100,20,0.6);
    position: absolute;
    bottom:0;
    left:0;
}

.thermometer .goal {
    position:absolute;
    top:0;
}

.thermometer .amount {
    display: inline-block;
    padding:0 5px 0 60px;
    font-family: Trebuchet MS;
    font-weight: bold;
    color:transparent;
}

.thermometer .progress .amount {
/*    padding:0 60px 0 5px;
    position: absolute;*/
    display: none;
/*    border-top:1px solid #060;
    color:#060;
    right:0;*/
}

.thermometer .goal .amount {
    display: none;
}

.thermometer.horizontal {
    margin:100px auto;
}

.thermometer.horizontal {
    width:350px;
    height:70px;
}

.thermometer.horizontal .track {
    width:90%;
    left:0;
    height:20px;
    margin:14px auto;

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(0,0,0)), color-stop(1%,rgb(255,255,255)));
    background: -webkit-linear-gradient(left, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:      -o-linear-gradient(left, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:     -ms-linear-gradient(left, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:    -moz-linear-gradient(left, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:   linear-gradient(to right, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background-size: 5% 100%;
}

.thermometer.horizontal .progress {
    height:100%;
    width:0%;
}

.thermometer.horizontal .goal {
    left:100%;
    height:100%;
}

.thermometer.horizontal .amount {
    bottom:0;
    position: absolute;
    padding:0 5px 50px 5px;
    border-top:0;
    border-left:1px solid black;

}

.thermometer.horizontal .progress .amount {
    border-left:0;
    border-top:0;
    border-right:1px solid #060;
}

/*.list-group {
    text-align: center;
margin: 0px 30% 20px 30%;
}

.list-group-item {
    display: list-item;
}

section#two {
    background-color: white;
}

section p{
padding-left: 40px;
padding-right: 40px;
}*/

#chart-wrapper p {
    margin: 0;
    background-color: white;
    width: 105%;
}

.chart * {
    font-size: 13px;
}

@media(max-width:768px){
    #chart-wrapper {
        width: 90%;
    }
}

.calculator-break {
    padding-top: 50px;
}

input[type="text"]:disabled{
    background-color:white;
}

.extra-margin {
    margin-top: 10px;
}